# Aryan Tiwari

# Q1

In [6]:
l=[]
n=int(input("Enter the number of elements of the list: "))
for i in range(n):
    a=int(input("Enter the element: "))
    l.append(a)
print("List: ",l)
l1=[]
for i in range(n):
    if l[i]%2==0:
        l1.append(l[i])
print("New list: ",l1)

Enter the number of elements of the list: 5
Enter the element: 1
Enter the element: 2
Enter the element: 3
Enter the element: 4
Enter the element: 5
List:  [1, 2, 3, 4, 5]
New list:  [2, 4]

# Q2

In [8]:
for i in range(1,6):
    print(" "*(6-i),str(i)*i)

      1
     22
    333
   4444
  55555